@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #59a5ec;
  border-radius: 3px;
}

body {
  background-color: #c2c2d6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 12px;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body .app-container {
  margin: auto;
  border: 2px solid #47476b;
  font-size: 20px;
  background-color: black;
}
body .app-container .screen {
  width: 335px;
  height: 100%;
  color: white;
  font-family: digital;
  text-align: right;
  padding: 5px;
}
body .app-container .screen .screen__result {
  font-size: 30px;
  word-wrap: break-word;
}
body .app-container .screen .screen__input {
  color: orange;
  display: inline-block;
  word-wrap: break-word;
}
body .app-container .buttons {
  height: 100%;
}
body .app-container .buttons .grid-container {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 65px 65px 65px 65px;
  grid-template-areas: "clear clear deleteOne divide" "seven eight nine multiply" "four five six subtract" "one two three add" "zero zero decimal equals";
  background-color: rgb(0, 0, 0);
  padding: 5px;
  gap: 5px;
}
body .app-container .buttons .grid-container :hover {
  transform: scale(1.05);
  outline: 1px solid grey !important;
  color: black !important;
}
body .app-container .buttons .grid-container .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  color: white;
}
body .app-container .buttons .grid-container #zero {
  grid-area: zero;
}
body .app-container .buttons .grid-container #one {
  grid-area: one;
}
body .app-container .buttons .grid-container #two {
  grid-area: two;
}
body .app-container .buttons .grid-container #three {
  grid-area: three;
}
body .app-container .buttons .grid-container #four {
  grid-area: four;
}
body .app-container .buttons .grid-container #five {
  grid-area: five;
}
body .app-container .buttons .grid-container #six {
  grid-area: six;
}
body .app-container .buttons .grid-container #seven {
  grid-area: seven;
}
body .app-container .buttons .grid-container #eight {
  grid-area: eight;
}
body .app-container .buttons .grid-container #nine {
  grid-area: nine;
}
body .app-container .buttons .grid-container #add {
  grid-area: add;
}
body .app-container .buttons .grid-container #subtract {
  grid-area: subtract;
}
body .app-container .buttons .grid-container #multiply {
  grid-area: multiply;
}
body .app-container .buttons .grid-container #divide {
  grid-area: divide;
}
body .app-container .buttons .grid-container #equals {
  grid-area: equals;
}
body .app-container .buttons .grid-container #clear {
  grid-area: clear;
}
body .app-container .buttons .grid-container #decimal {
  grid-area: decimal;
}
body .app-container .buttons .grid-container #deleteOne {
  grid-area: deleteOne;
}
body .app-container .buttons .grid-container #zero {
  height: 65px;
}
body .app-container .buttons .grid-container .operators {
  background-color: rgb(102, 102, 102);
}
body .app-container .buttons .grid-container .equals {
  background-color: rgb(0, 68, 102);
}
body .app-container .buttons .grid-container .danger {
  background-color: rgb(172, 57, 57);
}
body .app-container .buttons .grid-container .numbers {
  background-color: rgb(77, 77, 77);
}
body .app-container .buttons .grid-container > div {
  position: relative;
}

/*# sourceMappingURL=style.css.map */
