@font-face {
    font-family: 'Digital';
    src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
    src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix') format('embedded-opentype'),
        url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2') format('woff2'),
        url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff') format('woff'),
        url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf') format('truetype'),
        url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7') format('svg');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    // width: 80px;
    // height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #59a5ec;
    border-radius: 3px;

}

body {

    background-color: #c2c2d6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    .app-container {

        margin: auto;
        border: 2px solid #47476b;
        font-size: 20px;
        background-color: black;

        .screen {
            width: 335px;
            height: 100%;
            color: white;
            font-family: digital;
            text-align: right;
            padding: 5px;


            .screen__result {
                font-size: 30px;
                word-wrap: break-word;

            }


            .screen__input {
                color: orange;
                display: inline-block;
                word-wrap: break-word;

            }


            // div {
            //     height: 30px;
            // }

        }

        .buttons {


            height: 100%;

            .grid-container {
                display: grid;
                grid-template-columns: 80px 80px 80px 80px;
                grid-template-rows: 65px 65px 65px 65px;
                grid-template-areas:
                    'clear clear deleteOne divide'
                    'seven eight nine multiply'
                    'four five six subtract'
                    'one two three add'
                    'zero zero decimal equals';
                background-color: rgb(0, 0, 0);
                padding: 5px;
                gap: 5px;

                :hover {
                    transform: scale(1.05);
                    outline: 1px solid grey !important;
                    color: black !important;


                }

                .grid-item {
                    background-color: rgba(255, 255, 255, 0.8);
                    border: 1px solid rgba(0, 0, 0, 0.8);
                    // padding: 10px;

                    text-align: center;
                    color: white;







                }

                $ids: (
                    id0:zero,
                    id1:one,
                    id2:two,
                    id3:three,
                    id4:four,
                    id5:five,
                    id6:six,
                    id7:seven,
                    id8:eight,
                    id9:nine,
                    id10:add,
                    id11:subtract,
                    id12:multiply,
                    id13:divide,
                    id14:equals,
                    id15:clear,
                    id16:decimal,
                    id17:deleteOne
                );

            @each $key,
            $id in $ids {
                ##{$id} {
                    grid-area: $id
                }
            }



            #zero {

                height: 65px;
            }

            @mixin background-color($val) {
                @if $val ==danger {
                    background-color: rgb(172 57 57);
                }

                @else if $val ==operators {
                    background-color: rgb(102 102 102);
                }

                @else if $val ==equals {
                    background-color: rgb(0 68 102);
                }

                @else {
                    background-color: rgb(77 77 77);
                }

            }

            .operators {
                @include background-color(operators)
            }

            .equals {
                @include background-color(equals)
            }

            .danger {
                @include background-color(danger)
            }

            .numbers {
                @include background-color(numbers)
            }


        }

        .grid-container>div {
            position: relative;
        }






    }



}

}